#mocha
script src="tests/chai.js"
script src="tests/mocha.js"
script src="tests/main.js"
<script>mocha.setup('tdd')</script>
<script src="tests/tests.js"></script>
javascript:
  mocha.run();

#header.hidden
  div
    textarea#original[autofocus cols="80" rows="5"]
    
pre#OUTPUT.hidden
